
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quizapp/sucessquestion.css' %}" />
    <title>question created</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'kbc.jpeg' %}" />
            </div>
            <div class="col">
                <h1> WELCOME TO KBC </h1>
            </div>
            <div class="col-1">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">LogOut ({{ user.username|title }})</a>
                {% else %}
                    <a href="{% url 'singup' %}">SingUp</a><span>|</span>
                    <a href="{% url 'login' %}"> LogIn </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="button">
        <a href="{% url 'features' %}"><button>Home</button></a>
    </div>
    <div class="sucess">
        <h2>Question Created Sucessfully!</h2>
    </div>
</body>
</html>